{% extends 'base.html' %}
{% block title %}
  {% if view.object %}Modifica Genere{% else %}Nuovo Genere{% endif %}
{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1 class="mb-3">
    {% if view.object %}Modifica Genere{% else %}Nuovo Genere{% endif %}
  </h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      {{ form.name.label_tag }}
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    <button class="btn btn-primary">
      {% if view.object %}Salva{% else %}Crea{% endif %}
    </button>
    <a href="{% url 'music:genre-list' %}" class="btn btn-secondary ms-2">Annulla</a>
  </form>
</div>
{% endblock %}
