{% extends 'base.html' %}
{% block content %}
  <h1>Le tue Playlist</h1>
  <div class="mb-3">
    <a href="{% url 'music:playlist-add' %}" class="btn btn-success">Nuova Playlist</a>
  </div>
  <ul>
    {% for pl in playlists %}
      <li>
        <a href="{% url 'music:playlist-detail' pl.pk %}">{{ pl.name }}</a>
        <a href="{% url 'music:playlist-edit' pl.pk %}" class="btn btn-sm btn-outline-primary ms-2">Modifica</a>
        <a href="{% url 'music:playlist-delete' pl.pk %}" class="btn btn-sm btn-outline-danger ms-1">Elimina</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}